/*--- Tablet landscape --- */
@media screen and (max-width : 1224px) {
    
}

/*--- Small tablet landscape ---*/
@media screen and (min-width:801px) and (max-width : 1024px) {

}

/*--- Tablet portrait ---*/
@media screen and (min-width:691px) and (max-width : 800px) {
    .info>span {
        font-weight: 600;
        font-size: 13px;
    }
    
    p {
        font-size: 15px
    }
    
    .date {
        flex: 2;
        align-self: center;
        font-size: 10px;
    }
}

/*--- Small tablet portrait ---*/
@media screen and (min-width:596px) and (max-width : 690px) {

}

/*--- Mobile landscape ---*/
@media screen and (min-width:481) and (max-width : 595px) {

}

/*--- Mobile portrait ---*/
@media screen and (min-width:321) and (max-width : 480px) {

}

/* --- Small screen --- */
@media screen and (max-width : 320px) {

.commentBox {
    margin: 0px;

}

    .writeInput {
        flex-direction: column;
    }

    .writeInput>img {
        width: 45px;
        height: 45px;
        align-self: self-start;
    }

    .sendBtn {
        align-self: flex-end;
    }

    .comments>img {
        width: 45px;
        height: 45px;
    }

    .info>span {
        font-weight: 800;
        font-size: 11px;
    }
    
    p {
        font-size: 12px
    }
    
    .date {
        display: none;
    }
}